{% load static %}
<div class="product-card">
    <a href="{% url 'products:detail' product.pk %}">
        {% with main_image=product.images.first %}
            {% if main_image %}
                <img src="{{ main_image.image.url }}" alt="{{ product.title }}">
            {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="{{ product.title }}">
            {% endif %}
        {% endwith %}
        <h3>{{ product.title }}</h3>
        {% with variant=product.variants.first %}
            {% if variant %}
                {% if variant.has_discount %}
                    <span class="price-old">{{ variant.price }} تومان</span>
                    <span class="price-new">{{ variant.discount_price }} تومان</span>
                {% else %}
                    <span class="price">{{ variant.price }} تومان</span>
                {% endif %}
            {% endif %}
        {% endwith %}
    </a>
</div>