{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ product.title }}
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}" />
{% endblock %}
{% block content %}
  <div class="card">
    <h2>{{ product.title }}</h2>
    <p>{{ product.description|default:'بدون توضیحات' }}</p>
    <p>
      <span class="badge">{{ product.category }}</span>
      {% if product.brand %}
        <span class="badge">{{ product.brand }}</span>
      {% endif %}
      <span class="badge">
        {% if product.is_active %}
          فعال
        {% else %}
          غیرفعال
        {% endif %}
      </span>
    </p>

    <div style="margin: 16px 0; display:flex; gap:8px;">
      <a class="btn" href="{% url 'products:update' product.pk %}">ویرایش</a>
      <a class="btn btn-danger" href="{% url 'products:delete' product.pk %}">حذف محصول</a>
      <a class="btn btn-secondary" href="{% url 'products:image_add' product.pk %}">+ افزودن تصویر</a>
    </div>

    <h3>تصاویر</h3>
    {% if product.images.all %}
      <div class="product-grid">
        {% for img in product.images.all %}
          <div class="card">
            <img src="{{ img.image.url }}" alt="" />
            <p>
              {% if img.is_main %}
                <span class="badge">تصویر اصلی</span>
              {% endif %}
            </p>
            <a class="btn btn-danger" href="{% url 'products:image_delete' img.pk %}">حذف تصویر</a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>هنوز تصویری اضافه نشده.</p>
    {% endif %}

    <h3>تنوع‌ها (Variants)</h3>
    {% if product.variants.all %}
      <ul>
        {% for v in product.variants.all %}
          <li>
            {{ v.sku }} —{% if v.has_discount %}
              <span class="price-old">{{ v.price }} تومان</span>
              <span class="price-new">{{ v.discount_price }} تومان</span>
            {% else %}
              <span class="price">{{ v.price }} تومان</span>
            {% endif %}— موجودی: {{ v.stock }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>هنوز تنوعی برای این محصول ثبت نشده (فعلاً از پنل ادمین اضافه کن).</p>
    {% endif %}
  </div>
  {% include 'products/_product_row.html' with section_title='محصولات مشابه' section_products=similar_products %}

  <a href="{% url 'products:list' %}">← بازگشت به لیست</a>
{% endblock %}
