{% extends 'base.html' %}
{% block title %}
  ورود با رمز عبور
{% endblock %}
{% block content %}
  <h1>ورود با شماره و رمز عبور</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ورود</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p>
    رمز را فراموش کرده‌اید؟ <a href="{% url 'users:password_reset_choose' %}">بازیابی رمز</a>
  </p>
  <p>
    یا <a href="{% url 'users:request_otp' %}">با کد پیامکی وارد شوید</a>
  </p>
{% endblock %}
